<style>
  .container1{
    text-align: center;
    position: relative;

  }
  .container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .buttonHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    size: large;
  }


  body {
    background-color: #f4511e
  }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:3000"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="/bookings/">My Bookings <span class="glyphicon glyphicon-glass"></span></a></li>
    <%if @current_user %>
        <li><a href="<%= user_path(@current_user) %>"><%= @current_user.name %><span class="glyphicon glyphicon-user"></a></li>
        </ul>
      <div class="logout margin-right: -500px">
        <form class="submit" action="/sessions/logout" method="delete">
          <input type="submit" class="btn btn-warning" value="Log Out" />
        </form>
      </div>
    <% else %>
    <a href="/login_form">Login <span class="glyphicon glyphicon-user"></span></a>
    <a href="/users/new">Create Account <span class="glyphicon glyphicon-plus"></span></a>
    <%end%>
  </div>
</nav>

<div class="question">
  <%= flash[:errors] if flash[:errors] %>

  <h1><%= @question.title %></h1>


  <%= button_to "#{@question.button_1}", answer_question_path, params: { answer: 'yes' }  %>
  <%= button_to "#{@question.button_2}", answer_question_path, params: { answer: 'no' } %>

</div>

</body>
</html>
