<style>
  .container1 h1 {

  text-shadow: 2px 2px #666666;

  }

  .container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  .buttonHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    size: large;
  }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<%= flash[:messages] if flash[:messages]%>

  <div class="container1">
    <h1><%= @activity.title %></h1>
      <div class="row">
        <div class="col-lg-6">
          <%= @activity.description%>
        </div>
        <div class="col-lg-6">r
          <img src="<%= @activity.image %>" alt="image" width="500" height="400">
            <div class="button_action_holder">
              <%= button_to "Make a Booking", bookings_path, params: @new_booking_hash, class: "btn btn-primary" %>
              <form action="<%= @activity.url %>">
                <input type="submit" class="btn btn-info" value="Reserve a visit" />
              </form>
            </div>
          </div>
      </div>
  </div>

</body>
</html>
