<!DOCTYPE html>
<html>
  <head>
    <title>Activityfinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if @current_user %>
  <p><%= link_to @current_user.name, user_path(@current_user)%></p>
  <%end%><%if @current_user%><%= button_to "Log out", {action: "logout", controller:"sessions"}, method: "delete" %>
    <% else %>
    <li><a href="/login_form">Login</a></li>
    <%end%>

    <%= yield %>
  </body>
</html>
